<div class="dashboard-header">
  <h2> DASHBOARD FOR <%= dashboard_username %> </h2>
</div>

<div style="width:60%">
  <% dashboard_posts.each do |post| %>
    <hr>
    <div> <%= post.post_text %> </div>
    <hr>
    <div style="text-align:right">
      Posted by <%= posted_by(post) %> at <%= post.posted_at %></div>
    <hr> <br>
  <% end %>
</div>

